@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat";
  }
}

.main {
  background-color: #ddd2c5;
}

.nav-item:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.about-header {
  line-height: 1.2 !important;
}

.name-header {
  font-size: 1rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
  padding-left: 5px;
}
.position-header {
  font-size: 0.9rem;
  padding-left: 5px;
  color: #1a1b1f;
  padding-bottom: 2rem;
}

.project-container {
  margin-bottom: 3rem;
}
.project-container:last-child {
  margin-bottom: 0;
}
.project-section {
  height: 21rem;
}

.project-title-link {
  cursor: pointer;
}

.project-img {
  height: 20.75rem;
}

.project-header {
  color: #ddd2c5;
}

.skill-icon {
  color: black;
}
